*{
    box-sizing: border-box
}

html{
    min-height: 100vh;
}

body{
    margin: 0;
    background: radial-gradient(#e66465, #9198e5)
}

.page-title{
    font-family: Arial, Helvetica, sans-serif;
    font-family:normal;
    text-align: center;
    font-size: 4em;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.game-info-container{
    grid-column: 1/-1;
    /* display: inline; */
    display: flex;
    justify-content: space-between;
}

.game-info{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.card{
    background-color: black;
    height: 175px;
    width: 125px;
}